body{
    margin: 0;
}
.box{
    height: 720px;
    background-color: black;
}
.container{
    
}

.header{
    background-color:slategray;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    font-size: 20px;
}
.box-part{
    height: 600px;
    background-color:aliceblue;
}
.content{
    width: 400px;
    height: 500px;
    background-color:rgba(128, 128, 128, 0.966);
    border-radius: 25px;
    margin: 50px;
}
.search{
    margin-top: 50px;
    margin-left: 90px;
}
.bar{
    background-color:rgba(128, 128, 128, 128);
    border-radius: 10px;
    height: 40px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    padding-top: 8px;
    padding-left:25px ;
    font-weight: bold;
}
.items{
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
}
.item1{
    background-color:rgba(128, 128, 128, 128);
    height: 100px;
    border-radius: 12px;
    
}
.item2{
    background-color:rgba(128, 128, 128, 128);
    height: 100px;
    border-radius: 12px; 
}

.item3{
    background-color:rgba(128, 128, 128, 128);
    height: 100px;
    border-radius: 12px;
}

.message{
    height: 150px;
    border-radius: 12px;
    background-color:rgb(128, 128, 128);
}

.last{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}